<nav class="navbar navbar-expand-lg navbar-light bg-light">
    <a class="navbar-brand" [routerLink]="'/'">
        <img src="/assets/images/logo.jpg" width="100" height="30" class="d-inline-block align-top" alt="">    </a>
    <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarNav"
        aria-controls="navbarNav" aria-expanded="false" aria-label="Toggle navigation">
        <span class="navbar-toggler-icon"></span>
    </button>
    <div class="collapse navbar-collapse" id="navbarNav">
        <ul class="navbar-nav">
            <li class="nav-item">
                <a class="nav-link" [routerLink]="'/'" [routerLinkActive]="'active'"
                    [routerLinkActiveOptions]="{exact: true}">Information</a>
            </li>
            <li class="nav-item">
                <a [routerLink]="'/goods'" [routerLinkActive]="'active'" class="nav-link">Goods</a>
            </li>
        </ul>
    </div>
</nav>